fastapi==0.115.6
uvicorn[standard]==0.34.0
sqlalchemy==2.0.36
psycopg[binary]==3.2.3
pydantic-settings==2.7.0
python-multipart==0.0.20
openpyxl==3.1.5
PyJWT==2.10.1
tzdata==2024.2
pyotp==2.9.0
qrcode==7.4.2
pillow==11.0.0
